:root {
  --main-color: #5B8C9E;
  --secondary-color: #7A8A99;
  --accent-color: #0A2463;
  
  --background-primary: #FFFFFF;
  --background-secondary: #F8F9FA;
  
  --text-primary: #1E1E1E;
  --text-secondary: #5C6773;
  
  --border-color: #E9ECEF;
}

.dark {
  --main-color: #5B8C9E;
  --secondary-color: #7A8A99;
  --accent-color: #0A2463;
  
  --background-primary: #121212;
  --background-secondary: #1E1E1E;
  
  --text-primary: #E0E0E0;
  --text-secondary: #B0B0B0;
  
  --border-color: #444444;
}

*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--background-primary) !important;
  color: var(--text-primary) !important;
}
